@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif+Caption:ital@0;1&family=Satisfy&display=swap');

@keyframes preload {
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#preloader{
    top:0;
    left:0;
    position: fixed;
    width:100vw;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}
#preloader::after{
    content:"";
    background-color: black;
    width:75px;
    height:75px;
    box-shadow: 10px 10px;
    border:solid 1px white;
    animation: 0.75s preload ease infinite;
}
body{
    font-family:serif;
    cursor: pointer;
}
header{
    font-family:  serif;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px black;
}
.logo{
    max-width:100px;
    max-height:100px;
}
.logo_headertext{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    width:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav div{
    width:85px;
    height:25px;
    text-align: center;
    display: flex;
    color:black;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
nav div a{
    color:black;
}
nav div:hover{
    box-shadow: 5px 5px black;
    border: solid 1px grey;
}
nav #active{
    box-shadow: 5px 5px black;
    border: solid 1px grey;
}
#perfect text{
    font-weight: bold;
    font-size: 45px;
}
main{
    margin-block: 10px;
    display: flex;
    align-items: center;
    width:100%;
}
#carousel{
    display: flex;
    align-items: center;
    height:680px;
    width:100%;
    justify-content: flex-start;
    overflow-y: auto;
    scroll-behavior: smooth !important;   
}
#carousel div{
    height:625px;
    padding-inline: 5px;
    margin-inline: 15px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}
#carousel .div{
    height:625px;
    padding-inline: 5px;
    margin-inline: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    border: 1px solid black;
}
#carousel::-webkit-scrollbar{
    visibility: hidden;
}
#carousel::-webkit-scrollbar-track{
    visibility: hidden;
}
#carousel::-webkit-scrollbar-thumb{
    visibility: hidden;
}
#display{
    margin:5px;
    width: 400px;
    height:580px;
}
#display2{
    margin:5px;
    width: 450px;
    height:580px;
}
#display3{
    margin:5px;
    width: 380px;
    height:580px;
}
.bargain{
    margin-top: 10px;
    padding-block: 5px;
    width:400px;
    height:35px;
    border-radius:3px;
    text-align: center;
    background-color: black;
    color:white;
    font-size: 20px;
}

footer{
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-block: solid 1px black;
}
.icon-pack{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.icons{
    margin: 5px;
    width:35px;
    height:35px;
}
.signature{
    border-top: solid 1px black;
}
.bbb{
    width:100px;
    height:100px;
}