@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif+Caption:ital@0;1&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:serif;
    cursor: pointer;
}
header{
    font-family:  serif;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px black;
}
.logo{
    max-width:100px;
    max-height:100px;
}
.logo_headertext{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    width:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav div{
    width:85px;
    height:25px;
    text-align: center;
    display: flex;
    color:black;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
nav div a{
    color:black;
}
nav div:hover{
    box-shadow: 5px 5px black;
    border: solid 1px grey;
}
nav #active{
    box-shadow: 5px 5px black;
    border: solid 1px grey;
}
#perfect text{
    font-weight: bold;
    font-size: 45px;
}
main{
    height:605px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.pfp{
    width:275px;
    height:350px;
    border: solid 2px black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.himself{
    width:250px;
    height:325px;
}
.text1{
    margin-top:10px;
    margin-bottom: 20px;
}
.text2{
    width:500px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}
.text3{
    font-family: "Montserrat", sans-serif;
    font-family: 15px;
    margin-bottom: 5px;
}
footer{
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-block: solid 1px black;
}
.icon-pack{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.icons{
    margin: 5px;
    width:35px;
    height:35px;
}
.signature{
    border-top: solid 1px black;
}
.bbb{
    width:100px;
    height:100px;
}

